.productCard {
  box-shadow: 5px 5px 10px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}

.id {
  color: grey;
}

.imageBox {
  max-height: 300px;
}

.productCardImage {
  padding: 1rem;
  max-width: 100%;
  width: unset;
  max-height: 100%;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category {
  margin-bottom: 1rem;
  padding-right: 16px;
  display: flex;
  justify-content: flex-end;
}

.cardFooter {
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.addRemoveBox {
  background-color: rgb(242, 241, 241);
  margin-left: 0.5rem;
  min-width: 60px;
  border: solid 1px;
  border-radius: 5px;
  border-color: rgb(199, 201, 203);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delButtonWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.delButton{
  max-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: blur 1.9s ease;
  animation-delay: -1.5s;
}

@keyframes blur {
  0% {
    filter: blur(80px);
    color: rgb(244, 239, 239);
  }
  100% {
    filter: blur(0);
  }
}

.quantity {
  width: 20px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-color: rgb(199, 201, 203);
}

.plusMinus {
  width: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
